body{
    background-image: url('n.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    display:flex;
    background-color: black;
    height: 200px;
   



}
p{
    font-style: italic;
    color:  rgba(27, 142, 157, 0.907);
}
nav ul li {
    display: inline-block;
    padding: 50px;
    color: aliceblue;
    margin-top: 50px;
   
    
    


}
nav ul li a {
    padding: 10px;
    color: rgb(229, 225, 225);
    text-decoration: none;
    font-size: large;
    border-radius: 48%;
    border: 2px  solid rgb(179, 152, 15);
    background-color: rgba(247, 9, 9, 0.979);
    



    

}nav{
    margin-left: 100px;
}
.grid{
    display: grid;
    display: flex;
    flex-wrap: wrap;
}
#about{
    text-align: center;
    font-size: x-large ;
    font-style: oblique;
}
.mimg{
     /*height: 200px;
     width: 200;*/
     border-radius: 5%;
}
.grid1{
    display: grid;
    display: flex;
    flex-wrap: wrap;
}
.item1{
    margin:1%;
}
.item2{
    margin:1%;
}
.item3{
    margin:1%;
}
.item4{
    margin:1%;
}
#videos #slide {
    flex: 0 0 100%;
    max-width: 100%;
    scroll-snap-align: start;
  }
  
  video {
    width: 100%;
    height: 600px;
  }
  label
{    
    display: block;
    padding: 10px;
}
#videos #move {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory; 
  }
  form{
    background-color:rgb(148, 56, 123);
    color:black;
    margin:50px 50px 50px 50px;
    text-align: center;
}
#submit{
padding:10px;
}
input[type=submit]:hover {
    background-color: rgb(14, 14, 14);
 
}
